:root {
    --main-color: blue;
}


* {
    box-sizing: border-box;
}

.menu {
    background-color: var(--main-color);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.menu a {
    color: white;
}

.menu a:hover {
    text-decoration: none;
    color: black;
}

.menu a:last-child {
    color: green;
}

input:focus{
    background-color: gold;
}

h1 {
    margin-top: 5rem;
    background-color:var(--main-color);
}
